In [12]:
import duckdb
import pandas as pd

In [13]:
df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

In [14]:
# 1.2 Get the basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330696 entries, 0 to 330695
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    330696 non-null  object
 1   continent                                   315000 non-null  object
 2   location                                    330696 non-null  object
 3   date                                        330696 non-null  object
 4   total_cases                                 293300 non-null  float64
 5   new_cases                                   321633 non-null  float64
 6   new_cases_smoothed                          320374 non-null  float64
 7   total_deaths                                272174 non-null  float64
 8   new_deaths                                  321700 non-null  float64
 9   new_deaths_smoothed                         320470 non-null  float64
 10  total_cases_per_million                     293300 non-null  float64
 11  new_cases_per_million                       321633 non-null  float64
 12  new_cases_smoothed_per_million              320374 non-null  float64
 13  total_deaths_per_million                    272174 non-null  float64
 14  new_deaths_per_million                      321700 non-null  float64
 15  new_deaths_smoothed_per_million             320470 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                36994 non-null   float64
 18  icu_patients_per_million                    36994 non-null   float64
 19  hosp_patients                               37988 non-null   float64
 20  hosp_patients_per_million                   37988 non-null   float64
 21  weekly_icu_admissions                       9867 non-null    float64
 22  weekly_icu_admissions_per_million           9867 non-null    float64
 23  weekly_hosp_admissions                      22630 non-null   float64
 24  weekly_hosp_admissions_per_million          22630 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          77331 non-null   float64
 35  people_vaccinated                           74054 non-null   float64
 36  people_fully_vaccinated                     70604 non-null   float64
 37  total_boosters                              45744 non-null   float64
 38  new_vaccinations                            63660 non-null   float64
 39  new_vaccinations_smoothed                   174837 non-null  float64
 40  total_vaccinations_per_hundred              77331 non-null   float64
 41  people_vaccinated_per_hundred               74054 non-null   float64
 42  people_fully_vaccinated_per_hundred         70604 non-null   float64
 43  total_boosters_per_hundred                  45744 non-null   float64
 44  new_vaccinations_smoothed_per_million       174837 non-null  float64
 45  new_people_vaccinated_smoothed              174857 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  174857 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          280678 non-null  float64
 49  median_age                                  261029 non-null  float64
 50  aged_65_older                               251902 non-null  float64
 51  aged_70_older                               258413 non-null  float64
 52  gdp_per_capita                              255826 non-null  float64
 53  extreme_poverty                             164812 non-null  float64
 54  cardiovasc_death_rate                       256342 non-null  float64
 55  diabetes_prevalence                         269419 non-null  float64
 56  female_smokers                              192280 non-null  float64
 57  male_smokers                                189664 non-null  float64
 58  handwashing_facilities                      125570 non-null  float64
 59  hospital_beds_per_thousand                  226288 non-null  float64
 60  life_expectancy                             304193 non-null  float64
 61  human_development_index                     248491 non-null  float64
 62  population                                  330696 non-null  float64
 63  excess_mortality_cumulative_absolute        11507 non-null   float64
 64  excess_mortality_cumulative                 11507 non-null   float64
 65  excess_mortality                            11507 non-null   float64
 66  excess_mortality_cumulative_per_million     11507 non-null   float64
dtypes: float64(62), object(5)
memory usage: 169.0+ MB

In [15]:
# 1.3 Sample 10 observations
df.sample(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
243302,RWA,Africa,Rwanda,2020-02-02,NaN,0.0,0.000,NaN,0.0,0.000,...,21.0,4.617,NaN,69.02,0.543,13776702.0,NaN,NaN,NaN,NaN
154027,KWT,Asia,Kuwait,2023-01-18,663081.0,0.0,9.000,2570.0,0.0,0.000,...,37.0,NaN,2.00,75.49,0.806,4268886.0,NaN,NaN,NaN,NaN
51251,CPV,Africa,Cape Verde,2020-08-27,3630.0,62.0,44.143,38.0,1.0,0.286,...,16.5,NaN,2.10,72.98,0.665,593162.0,NaN,NaN,NaN,NaN
19439,AUT,Europe,Austria,2023-02-01,5780459.0,3674.0,2973.000,21884.0,7.0,7.143,...,30.9,NaN,7.37,81.54,0.922,8939617.0,NaN,NaN,NaN,NaN
173967,MYS,Asia,Malaysia,2021-09-30,2245695.0,12735.0,12716.714,26335.0,192.0,200.571,...,42.4,NaN,1.90,76.16,0.810,33938216.0,18246.6,5.73,52.15,543.4762
25745,BRB,North America,Barbados,2022-06-12,82071.0,142.0,128.143,467.0,0.0,0.714,...,14.5,88.469,5.80,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
136009,IRQ,Asia,Iraq,2020-04-09,1202.0,80.0,67.714,69.0,4.0,2.429,...,NaN,94.576,1.40,70.60,0.674,44496124.0,NaN,NaN,NaN,NaN
9682,AIA,North America,Anguilla,2021-06-12,109.0,0.0,0.000,NaN,0.0,0.000,...,NaN,NaN,NaN,81.88,NaN,15877.0,NaN,NaN,NaN,NaN
175339,MDV,Asia,Maldives,2021-12-03,91993.0,100.0,102.714,251.0,0.0,0.429,...,55.0,95.803,NaN,78.92,0.740,523798.0,NaN,NaN,NaN,NaN
287756,TWN,Asia,Taiwan,2020-04-10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.46,NaN,23893396.0,NaN,NaN,NaN,NaN

In [16]:
# 1.4 Let's use a SQL query to select the first 10 rows in the table
duckdb.query("SELECT * FROM df LIMIT 10;")

┌──────────┬───────────┬─────────────┬───┬──────────────────────┬──────────────────┬──────────────────────┐
│ iso_code │ continent │  location   │ … │ excess_mortality_c…  │ excess_mortality │ excess_mortality_c…  │
│ varchar  │  varchar  │   varchar   │   │        double        │      double      │        double        │
├──────────┼───────────┼─────────────┼───┼──────────────────────┼──────────────────┼──────────────────────┤
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
├──────────┴───────────┴─────────────┴───┴──────────────────────┴──────────────────┴──────────────────────┤
│ 10 rows                                                                            67 columns (6 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [17]:
# 1.5 Show the results as a data frame
duckdb.query("SELECT * FROM df LIMIT 10;").to_df()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [22]:
# 1.6 Retrieve the total number of deaths in Peru, until 31-12-2022

duckdb.query("SELECT iso_code, location, new_deaths FROM df WHERE location='Peru' OR location='Guatemala' AND date<='2022-12-31' LIMIT 10;").to_df()

  iso_code   location  new_deaths
0      GTM  Guatemala         0.0
1      GTM  Guatemala         0.0
2      GTM  Guatemala         0.0
3      GTM  Guatemala         0.0
4      GTM  Guatemala         0.0
5      GTM  Guatemala         0.0
6      GTM  Guatemala         0.0
7      GTM  Guatemala         0.0
8      GTM  Guatemala         0.0
9      GTM  Guatemala         0.0

In [24]:
# 1.6 Retrieve the total number of deaths in Peru, until 31-12-2022

duckdb.query("SELECT SUM(new_deaths) AS total FROM df WHERE location='Peru' OR location='Guatemala' AND date<='2022-12-31' LIMIT 10;").to_df()

      total
0  241364.0